.table-elem {
    font-size: 18px;
    color: white;
    list-style: none;
    list-style-position: inside;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    max-width: 12vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    &:hover {
        color: white;
    }
}

.section-header {
    border-bottom: solid 1px;
    text-align: center;
    font-size: 24px;
}

.data-container {
    margin-top: 3vh;
    /* width: 60%; */
    width: 85%;
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
}

.api-info-table {
    width: 100%;
}

