.filter-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1.5em 2em 0;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filter-label {
    font-size: 18px;;
}

.filter {
    margin: 1vh 1.5vw;
}

#selectType {
    font: inherit;
    margin-top: 5px;
    padding: .75vw;
    border-radius: 5px;
    border: none;
    background-color: #1a1a1a;
}

.refreshBtn {
    margin: 5px;
}

.refresh-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.search {
    background-color: rgba(123, 123, 123, 0.5);
    box-shadow: rgba(103, 103, 103, 0.24) 0px 3px 8px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font: inherit;
    margin-right: 10px;
    width: 60%;
}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}