.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 0;
    align-items: center;
    margin-bottom: 3vh;
    width: 95%;
}

.title {
    font-size: 36px;
    color: white;
    &:hover {
        color: white;
    }
}

.search {
    background-color: rgba(53, 53, 53, 0.3);
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    font: inherit;
    margin-right: 10px;
}