.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 0;
    align-items: center;
    margin-bottom: 3vh;
    width: 95%;
}

.title {
    font-size: 36px;
}

.text {
    color: white;
    &:hover {
        color: white;
    }
}

.nav-text {
    font-size: 20px;
}